body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
}

h1, h2, h3 {
    color: #343a40;
}

profile{
    height: 700;
}
.profile-pic {
    width: 220px;             /* Ukuran lebar gambar */
    height: 320px;            /* Tinggi yang sama untuk menjaga proporsi lingkaran */
    border-radius: 50%;       /* Membuat gambar berbentuk lingkaran */
    border: 3px solid #fff;   /* Menambahkan border berwarna putih */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5); /* Menambahkan efek bayangan */
    object-fit: cover;        /* Memastikan gambar memenuhi lingkaran dengan proporsi yang benar */
}


footer {
    background-color: #343a40;
    color: white;
}

a {
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}
